<%= simple_form_for(@scout) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :type_id %>
    <%= f.input :active %>
    <%= f.input :roster %>
    <%= f.input :joined_scouts %>
    <%= f.input :birthdate %>
    <%= f.input :street_address %>
    <%= f.input :city %>
    <%= f.input :zip %>
    <%= f.input :home_phone %>
    <%= f.input :cell_phone %>
    <%= f.input :work_phone %>
    <%= f.input :email %>
    <%= f.input :scoutid %>
    <%= f.input :last_medical %>
    <%= f.input :medical_completed %>
    <%= f.input :medical_comment %>
    <%= f.input :photo_release %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
