<%= simple_form_for @scout, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.association :types, :label_method => :role, :value_method => :id %>
  <%= f.input :active %>
  <%= f.input :roster %>
  <%= f.input :joined_scouts %>
  <%= f.input :birthdate %>
  <%= f.input :street_address %>
  <%= f.input :city %>
  <%= f.input :zip %>
  <%= f.input :home_phone %>
  <%= f.input :cell_phone %>
  <%= f.input :work_phone %>
  <%= f.input :email %>
  <%= f.input :scoutid %>
  <%= f.input :last_medical %>
  <%= f.input :medical_completed %>
  <%= f.input :medical_comment %>
  <%= f.input :photo_release %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                scouts_path, :class => 'btn' %>
  </div>
<% end %>
