<%- model_class = Scout -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:type_id) %></th>
      <th><%= model_class.human_attribute_name(:active) %></th>
      <th><%= model_class.human_attribute_name(:roster) %></th>
      <th><%= model_class.human_attribute_name(:joined_scouts) %></th>
      <th><%= model_class.human_attribute_name(:birthdate) %></th>
      <th><%= model_class.human_attribute_name(:street_address) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%= model_class.human_attribute_name(:zip) %></th>
      <th><%= model_class.human_attribute_name(:home_phone) %></th>
      <th><%= model_class.human_attribute_name(:cell_phone) %></th>
      <th><%= model_class.human_attribute_name(:work_phone) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:scoutid) %></th>
      <th><%= model_class.human_attribute_name(:last_medical) %></th>
      <th><%= model_class.human_attribute_name(:medical_completed) %></th>
      <th><%= model_class.human_attribute_name(:medical_comment) %></th>
      <th><%= model_class.human_attribute_name(:photo_release) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @scouts.each do |scout| %>
      <tr>
        <td><%= link_to scout.id, scout_path(scout) %></td>
        <td><%= scout.name %></td>
        <td><%= scout.type_id %></td>
        <td><%= scout.active %></td>
        <td><%= scout.roster %></td>
        <td><%= scout.joined_scouts %></td>
        <td><%= scout.birthdate %></td>
        <td><%= scout.street_address %></td>
        <td><%= scout.city %></td>
        <td><%= scout.zip %></td>
        <td><%= scout.home_phone %></td>
        <td><%= scout.cell_phone %></td>
        <td><%= scout.work_phone %></td>
        <td><%= scout.email %></td>
        <td><%= scout.scoutid %></td>
        <td><%= scout.last_medical %></td>
        <td><%= scout.medical_completed %></td>
        <td><%= scout.medical_comment %></td>
        <td><%= scout.photo_release %></td>
        <td><%=l scout.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_scout_path(scout), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      scout_path(scout),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_scout_path,
            :class => 'btn btn-primary' %>
