<h1>Listing scouts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Active</th>
    <th>Roster</th>
    <th>Joined scouts</th>
    <th>Birthdate</th>
    <th>Street address</th>
    <th>City</th>
    <th>Zip</th>
    <th>Home phone</th>
    <th>Cell phone</th>
    <th>Work phone</th>
    <th>Email</th>
    <th>Scoutid</th>
    <th>Last medical</th>
    <th>Medical completed</th>
    <th>Medical comment</th>
    <th>Photo release</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scouts.each do |scout| %>
  <tr>
    <td><%= scout.name %></td>
    <td><%= scout.type_id %></td>
    <td><%= scout.active %></td>
    <td><%= scout.roster %></td>
    <td><%= scout.joined_scouts %></td>
    <td><%= scout.birthdate %></td>
    <td><%= scout.street_address %></td>
    <td><%= scout.city %></td>
    <td><%= scout.zip %></td>
    <td><%= scout.home_phone %></td>
    <td><%= scout.cell_phone %></td>
    <td><%= scout.work_phone %></td>
    <td><%= scout.email %></td>
    <td><%= scout.scoutid %></td>
    <td><%= scout.last_medical %></td>
    <td><%= scout.medical_completed %></td>
    <td><%= scout.medical_comment %></td>
    <td><%= scout.photo_release %></td>
    <td><%= link_to 'Show', scout %></td>
    <td><%= link_to 'Edit', edit_scout_path(scout) %></td>
    <td><%= link_to 'Destroy', scout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Scout', new_scout_path %>
