<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @scout.name %>
</p>

<p>
  <b>Type:</b>
  <%= @scout.type_id %>
</p>

<p>
  <b>Active:</b>
  <%= @scout.active %>
</p>

<p>
  <b>Roster:</b>
  <%= @scout.roster %>
</p>

<p>
  <b>Joined scouts:</b>
  <%= @scout.joined_scouts %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @scout.birthdate %>
</p>

<p>
  <b>Street address:</b>
  <%= @scout.street_address %>
</p>

<p>
  <b>City:</b>
  <%= @scout.city %>
</p>

<p>
  <b>Zip:</b>
  <%= @scout.zip %>
</p>

<p>
  <b>Home phone:</b>
  <%= @scout.home_phone %>
</p>

<p>
  <b>Cell phone:</b>
  <%= @scout.cell_phone %>
</p>

<p>
  <b>Work phone:</b>
  <%= @scout.work_phone %>
</p>

<p>
  <b>Email:</b>
  <%= @scout.email %>
</p>

<p>
  <b>Scoutid:</b>
  <%= @scout.scoutid %>
</p>

<p>
  <b>Last medical:</b>
  <%= @scout.last_medical %>
</p>

<p>
  <b>Medical completed:</b>
  <%= @scout.medical_completed %>
</p>

<p>
  <b>Medical comment:</b>
  <%= @scout.medical_comment %>
</p>

<p>
  <b>Photo release:</b>
  <%= @scout.photo_release %>
</p>


<%= link_to 'Edit', edit_scout_path(@scout) %> |
<%= link_to 'Back', scouts_path %>
