<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @scout.name %>
</p>

<p>
  <b>Email:</b>
  <%= @scout.email %>
</p>

<p>
  <b>Phone number:</b>
  <%= @scout.phone_number %>
</p>


<%= link_to 'Edit', edit_scout_path(@scout) %> |
<%= link_to 'Back', scouts_path %>
